<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.thomas_cross.personalorganiser">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayRoles"
            android:label="@string/title_activity_display_roles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayDataSensitivitys"
            android:label="Data Sensitivities"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayLocations"
            android:label="Locations"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayActivitys"
            android:label="Activities"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayActivityIterations"
            android:label="Activity Iterations"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayActivitySequences"
            android:label="Activity Sequences"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.MainActivity" />
        </activity>
        <activity android:name=".DisplayActivitySequenceListItems"
            android:label="Activity Sequence List"
            android:parentActivityName=".DisplayActivitySequences"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.thomas_cross.personalorganiser.DisplayActivitySequences" />
        </activity>
    </application>

</manifest>